/* All sizes */

*,
*:after,
*:before {
  margin: 0;
  padding: 0;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin-top: 60px;
}

button {
  height: 42px;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
  cursor: pointer;
  border: 0;
  background-color: #f3a847;
  color: #232f3e;
  border-radius: 5px;
}
button:hover,
button:focus {
  background-color: #f29238;
}

textarea {
  min-width: 100%;
  max-width: 100%;
  height: calc(100vh - 160px - 42px);
  max-height: calc(100vh - 160px);
  padding: 10px;
  font-size: 14px;
  background-color: #e8e8e8;
  border-color: #000000;
}

/* CLASSES */

[class^='col-'] {
  float: left;
  padding: 10px;
}

.col-nav-left {
  width: 65%;
}
.col-nav-right {
  width: 35%;
}

.color-btn {
  cursor: pointer;
  height: 20px;
  width: 20px;
  border: 1px solid grey;
  display: inline-block;
  float: right;
  margin: 5px 0 0 10px;
}
.color-btn:hover {
  border: 1px solid black;
}

.master-div:after {
  display: table;
  clear: both;
}

.note-select {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid #eee;
}
.note-select:hover {
  background-color:#eee;
}
.note-select:first-of-type {
  border-top: 1px solid #eee;
}

/* ID'S */

#app-title-area {
  position: fixed;
  top: 0;
  height: 60px;
  width:100%;
  left:0;
  text-align: center;
  background-color: #232f3e;
  color: #fff;
}
#app-title-area h1 {
  font-size: 2em;
}

#btn-red {
  background-color: #fd504e;
}
#btn-green {
  background-color: #5ca756;
}
#btn-yellow  {
  background-color: #fa971b;
}
#btn-blue {
  background-color: #44a0c7;
}

#highlighted-note-title > h2 {
  height: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



/* DESKTOP */
@media (min-width: 768px) {
  .col-100 {width: 100%;}
  .col-75 {width: 75%;}
  .col-50 {width: 50%;}
  .col-25 {width: 25%;}

  .master-div {
    margin: 20px 20px 0 20px;
  }

  #back-button {
    display: none;
  }
  #note-selection {
    margin-top: 60px;
  }

}


/* MOBILE */
@media (max-width: 768px) {
  .col-100 {width: 100%;}
  .col-75 {width: 100%;}
  .col-50 {width: 100%;}
  .col-25 {width: 100%;}

  .col-nav-left {
    width: 55%;
  }
  .col-nav-right {
    width: 45%;
  }

  .mobile-hide {
    display: none;
  }
  button.mobile-50 {
    width: 49%;
  }
  button.mobile-50:last-of-type {
    float: right;
  }
}
